doctype html
html
    head
        style
            include style.css
    body
        h1 B-day party!

        p I'm waiting for you on Saturday, 28.08.
         br
        p Dress code: T-shirt and skirt
       
       

        div.footer Looking forward seeing you 
        br
            | Best wishes