doctype html
html
    head
        style
            include style.css
    body
        h1 Вітаємо в команді

        p Random text, seem that here are important info 
        br
        a(href=frontendURL) Click

        div.footer Щиро ваші HebronSoft Inc.
            | Best regards
        