<div>
    <h1 style="background-color: rgb(252, 119, 205); color: white; font-size: 30px;text-align:center;">Welcome dear </h1>
    <div style="background-color:rgb(139, 135, 135); display:flex; justify-content:center; padding:30px">
        <button style="background-color: greenyellow; height:70px; width;100px" type="submit">
            <a href="http://localhost:5000/users">List of users</a></button>

            
        <button style="background-color: greenyellow; height:70px; width;100px"type="submit">
            <a href="http://localhost:5000/cars">List of cars</a></button>
    </div>
</div>