<h1 style="background-color: rgb(252, 119, 205); color: white; font-size: 30px;text-align:center; margin:0%">
List of users
</h1>
<ul style="background-color: rgb(252, 119, 205); color: white; font-size: 25px; min-height:900px; padding:100px; ">
  {{#each DBofUsers}} 
    <li style="list-style-type: none; text-align:center; padding: 20px ">{{this.name}}</li>
   
  {{/each}}
</ul>



